*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    /* background-color: #f0d4e5; */
}
html{
  scroll-behavior: smooth;
}
body{
  text-size-adjust: 25px;
  background-color: #e3cccc;
}
/*1st section*/
#navbar{
  background-color:rgb(211 200 200);
  display: flex;
  top: 0px;
  /* position: -webkit-sticky; */
  position: sticky;
  z-index: 1;
}

.nav h1{
  /* display: flex; */
  cursor: pointer;
}
.nav ul {
  display: flex;
}
.nav ul li{
  list-style: none;
  padding: 5px;
}
.nav ul li a{
  text-decoration: none;
  font-size: 25px;
  padding: 20px;
}
.nav ul li a:hover{
  text-decoration: underline;
  color:  #0d2c2c;
}
.burger{
  position: absolute;
  top: 15px;
  right: 4%;
  display: none;
}
.line{
  width: 33px;
  background-color: #222;
  height: 4px;
  margin: 5px 5px;
}
/* .RightNav{
  display: flex;
  position: absolute;
  right: 20px;
}
.RightNav form{
  display: flex;
}
.form-control{
  display: block;
  margin: auto;
  width: 180px;
  height: 45px;
  border-radius: 20px;
}
.btn{
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
} */
/*2nd section*/
.project{
  display: flex;
  background-color: #e3cccc;
}
.left2{
  /* border: 2px solid red; */
  height: 600px;
  width: 50%;
}
.ineerleft{
  margin-top: 100px;
}
.ineerleftp{
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 150px;
}
.innerleft2 h1, p{
  display: block;
  margin: auto;
  text-align: center;
  font-size: 15px;
}

.inerbtn{
  /* display:block; */
  margin: auto;
  position: absolute;
  text-decoration: none;
  /* align-items: center; */
  background-color: #5fc5c5;
  border-radius: 10px;
  padding: 5px;
  left: 300px;
}
.inerbtn:hover{
  /* text-decoration: underline; */
  background-color: rgb(49, 27, 175);
}
.right2{
  display: flex;
  /* border: 2px solid red; */
  width: 50%;
  height: 450px;
}
.right2 img{
  display:block;
  margin: auto;
  width: 400px;
  height: 400px;
}
/*3rd section*/
.ourPromise{
  /* background-color: #e3cccc; */
  background: url(img_04.jpg);
  height: 170px;
}
.inerbtnn{
  /* display:block; */
  margin: auto;
  position: absolute;
  text-decoration: none;
  /* align-items: center; */
  background-color: #5fc5c5;
  border-radius: 10px;
  padding: 5px;
  left: 45%;
}
.ineerp{
  display: block;
  margin: auto;
  text-align: center;
  /* margin-top: 50px; */
}
/*4th section*/
head,
body {
    background-color: #e3cccc;
}
.container-fluid{
  background-color:#fffafa;
}

.card {
    cursor: pointer
}

.hd {
    font-size: 25px;
    font-weight: 550
}

.card.hover,
.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2)
}

.img {
    margin-bottom: 35px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222)
}

.card-title {
    font-weight: 600
}

button.focus,
button:focus {
    outline: 0;
    box-shadow: none !important
}

.ft {
    margin-top: 25px
}

.chk {
    margin-bottom: 5px
}

.rck {
    margin-top: 20px;
    padding-bottom: 15px
}
.img{
  height: 150px;
  width: 150px;
}
.card-content{
  padding: 20px;
}
/*5th section*/
.contact-form{
  background: #8280c4;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 70%;
}
.contact-form .form-control{
  border-radius:1rem;
}
.contact-image{
  text-align: center;
}
.contact-image img{
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}
.contact-form form{
  padding: 14%;
}
.contact-form form .row{
  margin-bottom: -7%;
}
.contact-form h3{
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}
/*6th section*/
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
/*7th section*/
body{margin-top:20px;}

.align-center {
    text-align: center;
}
.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}

@media (min-width: 768px){
    .hash-list.cols-3 > li:nth-last-child(-n+3) {
        border-bottom: none;
    }
}
@media (min-width: 768px){
    .hash-list.cols-3 > li {
        width: 33.3333%;
    }
}
.hash-list > li {
    display: block;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pad-30, .pad-30-all > * {
    padding: 30px;
}
img {
    border: 0;
}
.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
    width: 100px;
}
.img-round, .img-rel-round {
    border-radius: 50%;
}
.padb-30, .padb-30-all > * {
    padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
    margin-bottom: 40px;
}
.align-center {
    text-align: center;
}
[class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #E6AF2A;
}
.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
    color: #222;
}
.font-cond-b {
    font-weight: 700 !important;
}
/*8th section*/
.footer{
  /* background-color: #3f4141; */
  color: #221d1d;
  width: 100%;
}
.footer h4{
  text-align: center;
}

